<link rel="stylesheet" type="text/css" href="css/service.css">
<div class="container">
<div class="service">
<table cellspacing="0">
    <h3>New Client</h3>
    <div class="heading">
    <tr>
    <th> Services</th>
    <th> Standard Price</th>
    <th> Custom price</th>
    <th>                </th>
    </tr>
    </div>

    <tr>
    <td> Standard Services</td>
    <td> $170</td>
    <td><input type = "text" id = "custom" class = "form-control" placeholder = "Custom price "></td>
    <td><input type="button" class="btn btn-primary" ng-click="saveContact()" value = "Add"></td>
    </tr>
  
    <tr>
  	<td> Standard Services</td>
    <td> $30</td>
    <td><input type = "text" id = "custom" class = "form-control" placeholder = "Custom price "></td>
    <td><input type="button" class="btn btn-danger" ng-click="saveContact()" value = "Remove"></td>
    </tr>

    <tr>
    <td> Standard Services</td>
    <td> $100</td>
    <td><input type = "text" id = "custom" class = "form-control" placeholder = "Custom price "></td>
    <td><input type="button" class="btn btn-primary" ng-click="saveContact()" value = "Add"></td>
    </tr>
  
    <tr>
   <td> Standard Services</td>
    <td> $700</td>
    <td><input type = "text" id = "custom" class = "form-control" placeholder = "Custom price "></td>
    <td><input type="button" class="btn btn-primary" ng-click="saveContact()" value = "Add"></td>
     </tr>
  
    <tr>
    <td> Standard Services</td>
    <td> $10</td>
    <td><input type = "text" id = "custom" class = "form-control" placeholder = "Custom price "></td>
    <td><input type="button" class="btn btn-primary" ng-click="saveContact()" value = "Add"></td>
    </tr>
  
    <tr>
   <td> Standard Services</td>
    <td> $50</td>
    <td><input type = "text" id = "custom" class = "form-control" placeholder = "Custom price "></td>
    <td><input type="button" class="btn btn-primary" ng-click="saveContact()" value = "Add"></td>
    </tr>
   <table>
  <br>
  <br>
    
    <div class="button">

    <input type="button" class="btn btn-success" ng-click="saveContact()" value = "Submit">
    <a ng-href="#!/myclient">
    <input type="button" class="btn btn-success" ng-click="saveContact()" value = "Back">
    </a>
    </div>
</div>
</div>

